extends layout/index.pug

block content
  .row
    .col-lg-8.col-md-10.mx-auto
      p
        | Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!
      // Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work.
      // WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address!
      // NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally!
      #success
      form#contactForm(name='sentMessage', novalidate='')
        .control-group
          .form-group.floating-label-form-group.controls
            label Name
            input#name.form-control(type='text', placeholder='Name', required='', data-validation-required-message='Please enter your name.')
            p.help-block.text-danger
        .control-group
          .form-group.floating-label-form-group.controls
            label Email Address
            input#email.form-control(type='email', placeholder='Email Address', required='', data-validation-required-message='Please enter your email address.')
            p.help-block.text-danger
        .control-group
          .form-group.col-xs-12.floating-label-form-group.controls
            label Phone Number
            input#phone.form-control(type='tel', placeholder='Phone Number', required='', data-validation-required-message='Please enter your phone number.')
            p.help-block.text-danger
        .control-group
          .form-group.floating-label-form-group.controls
            label Message
            textarea#message.form-control(rows='5', placeholder='Message', required='', data-validation-required-message='Please enter a message.')
            p.help-block.text-danger
        br
        .form-group
          button#sendMessageButton.btn.btn-secondary(type='submit') Send
