extends layout/index.pug

block content
  .row
    .col-lg-8.col-md-10.mx-auto
      each post in posts
        .post-preview
          a(href='post.html')
            h2.post-title= post.title
          if (post.subtitle)
            h3.post-subtitle= post.subtitle
          p.post-meta
            | Posted by
            a(href='#')= post.author
            |               on #{post.createdAt}
        hr
      // Pager
      .clearfix
        a.btn.btn-secondary.float-right(href='#') Older Posts →
