// Page Header
header.masthead(style=styleHeader)
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          h1= headerTitle || 'Clean Blog'
          span.subheading= headerSubTitle || 'A Blog Theme by Start Bootstrap'
