// Page Header
header.masthead(style="background-image: url('img/home-bg.jpg')")
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          h1 Clean Blog
          span.subheading A Blog Theme by Start Bootstrap
