doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Clean Blog - Start Bootstrap Theme
    include ../includes/_styles
  body
    include _navbar
    block header
      include _header
    // Main Content
    .container
      block content 
    hr
    block footer
      include _footer
    include ../includes/_scripts
