doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Clean Blog - Start Bootstrap Theme
    include ../includes/styles.pug
  body
    include header.pug  
    // Main Content
    .container
      block content 
    hr
    include footer.pug  
    include ../includes/scripts.pug
