<h1 class="text-center">Pages List</h1>
<p><a href="admin/#!/add-edit-page/0" class="btn btn-success"> Add New Page</a></p>
<hr/>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>URL</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tr ng-repeat="page in allPages">
    <td>{{page._id}}</td>
    <td>{{page.title}}</td>
    <td>{{page.url}}</td>
    <td> <a ng-href="admin/#!/add-edit-page/{{page._id}}">Edit</a>
    </td>
    <td> <a ng-href="#" ng-click="deletePage(page._id)">Delete</a>
    </td>
  </tr>
</table>
