<h1>{{heading}}</h1>
<hr/>

<form role="form" id="add-page" ng-submit="savePost()">
  <div ng-if="mode === 'edit'" class="form-group">
    <label>Post ID</label>
    <input class="form-control" type="text" readonly ng-model="postContent._id" />
  </div>

  <div class="form-group">
    <label>Created By</label>
    <input class="form-control" type="text" readonly ng-model="authorUsername" />
  </div>

  <div class="form-group">
    <label>Post Title</label>
    <input class="form-control" type="text" ng-change="updateURL()" ng-model="postContent.title" />
  </div>
  <div class="form-group">
    <label>Post URL Alias</label>
    <input class="form-control" type="text" readonly ng-model="postContent.url" />
  </div>

  <div class="form-group">
    <label>Post Content</label>
    <div class="row">
      <div class="col-md-6">
        <h5>Markdown</h5>
        <textarea markdown-editor="{'iconlibrary': 'fa', addExtraButtons: true}" ng-model="postContent.content" name="editor1" rows="10"></textarea>
      </div>
      <div class="col-md-6">
        <h5>Preview</h5>
        <div marked="postContent.content" class="markdown preview" style="padding: 20px"></div>
      </div>
    </div>
  </div>

  <input type="submit" class="btn btn-success" value="Save">
  </div>
</form>
